{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h1>Shopping Cart</h1>

{% if cart_items %}
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Subtotal</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for item in cart_items %}
          <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>₹{{ item.product.price }}</td>
              <td>₹{{ item.subtotal }}</td>
              <td>
                  <a href="{% url 'add_to_cart' item.product.id %}"><i class="fa-solid fa-plus"></i></a>
                  <a href="{% url 'decrease_quantity' item.id %}"><i class="fa-solid fa-minus"></i></a>
                  <a href="{% url 'remove_from_cart' item.id %}"><i class="fa-solid fa-trash"></i></a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <h3>Total: {{ total }}</h3>
  <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
